@font-face {
    font-family: 'ChusaLove';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/ChusaLove.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    }
    @font-face {
        font-family: 'MYYeongnamnu';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'SANGJUGyeongcheonIsland';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANGJUGyeongcheonIsland.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    html{
        scroll-behavior: smooth;
      }
      body{
        overflow-x:hidden; overflow-y:auto;
        margin: 0px 0px ;
        background-color: #ebd4aa;
        color : #333333;
        font-family: 'SANGJUGyeongcheonIsland';
      }
      h1{
        margin: 0 0 ;
        padding: 30px;
        font-size: 30px;
      }
      section{
        height: 100%;
      }
      .section{
        border-left: 3px solid #333333;
        border-right: 3px solid #333333;
        text-align: center;
        margin: 0px 18.4%;
        background-color: #ebd4aa;
      }
      .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ed9c07;
        padding: 5px 15px;
        border-radius: 6px;
      }
      .navlogo{
        font-size: 60px;
        font-family: 'ChusaLove';
      }
      
      a{
        text-decoration: none;
        color: #362a2a;
      }
      .navitems {
      font-family: 'MYYeongnamnu';
        display: flex;
        list-style: none;
        padding-left: 0px;
        font-size: 25px;
      }
      .navitems li {
        padding: 8px 60px;
      
      }
      .navitems li:hover {
        background-color:DeepSkyBlue;
        border-radius: 6px;
      }
      .navbar_hambug{
        position: absolute;
        right: 32px;
        top : 20px;
        font-size: 32px;
        display: none;
      }
      @media screen and (max-width:768px) {
       .navbar{
         flex-direction: column;
         align-items: flex-start;
       }
       .navitems{
         flex-direction: column;
         align-items: center;
         width: 100%;
         display: none;
       }
      .navitems li{
        width: 100%;
        text-align: center;
        padding: 8px 12px;
      }
      .navicons {
        text-align: center;
        width: 100%;
        display: none;
      }
      .navbar_hambug{
        display: block;
      }
      
      .navicons.active {
        display: block;
      }
      .navitems.active {
        display: flex;
      }
      }
      .text_1{
        font-size: 30px;
        margin-top: 10%;
        line-height: 50px;
      }
      .ex{
        font-size: 24px;
        margin-top: 10%;
      }
      .png{
        margin-top: 2%;
      }
      .text{
        font-size: 30px;
        margin-top: 10%;
        line-height: 50px;
      }
      .openchat{
        list-style: none;
        font-size: 18px;
        line-height: 40px;
        margin-top: 3%;
      }
      .logo_png{
        float: inline-end;
        margin-top: 11%;
      }

      .logo{
        font-size: 60px;
        font-family: 'ChusaLove';
        margin-top: 1%;
      }
